@{
    ViewData["Title"] = "Home Page";
}

<link href="~/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

