<!--Start Show Help Information Popup here -->
<div tabindex="-1" class="modal fade" id="atendimento" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Atendimento</h3>
            </div>
            <div class="modal-body" style="padding: 30px 15px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-12" style="margin-bottom: 38px">
                                <span style="background-color: #CCC; padding: 10px 16px; border-radius: 25px; color: #333; font-size: 20px; margin-right: 10px;"><i class="fa fa-phone"></i></span>
                                <span>0800 591-3078</span>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 38px">
                                <span style="background-color: #CCC; padding: 10px 14px; border-radius: 25px; color: #333; font-size: 20px; margin-right: 10px;"><i class="fa fa-envelope-o"></i></span>
                                <span>suporte.redacoes@fgv.br</span>
                            </div>
                            <div class="col-md-12">
                                <span style="background-color: #CCC; padding: 10px 16px; border-radius: 25px; color: #333; font-size: 20px; margin-right: 10px;"><i class="fa fa-clock-o"></i></span>
                                <span>Segunda a sexta das 9h às 18h</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue" type="button" id="btnVoltarModalAtendimento">Voltar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--End Show Help Information Popup here -->